<form [formGroup]="resetUserPasswordForm" (ngSubmit)="submitUserForm()">
  <mat-label
    class="formTitle"
    [innerHTML]="resetUserPasswordFormTitle"
  ></mat-label>

  <mat-form-field floatLabel="always">
    <mat-label>{{ givenNameInputLabel }}</mat-label>
    <input matInput readonly [formControlName]="givenNameFieldIdentifier" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>{{ surnameInputLabel }}</mat-label>
    <input matInput readonly [formControlName]="surnameFieldIdentifier" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>{{ passwordInputLabel }}</mat-label>
    <input
      matInput
      [formControlName]="passwordFieldIdentifier"
      [type]="showPassword ? 'text' : 'password'"
    />
    <button
      type="button"
      class="inputButton"
      (click)="showPasswordToggle()"
      mat-icon-button
      matSuffix
    >
      <i
        class="material-icons"
        [style]="
          isPasswordFieldInvalid()
            ? 'color: var(--app-red)'
            : 'color: var(--app-blue)'
        "
      >
        {{ showPassword ? "visibility_off" : "visibility" }}
      </i>
    </button>
    <mat-error>{{ displayPasswordErrorMessage() }}</mat-error>
  </mat-form-field>

  @if (resetUserPasswordForm.get(passwordFieldIdentifier)?.valid) {
    <mat-form-field floatLabel="always">
      <mat-label>{{ repeatedPasswordInputLabel }}</mat-label>
      <input
        matInput
        [formControlName]="repeatedPasswordFieldIdentifier"
        [type]="showRepeatedPassword ? 'text' : 'password'"
        [style]="
          isRepeatedPasswordFieldInvalid()
            ? 'color: var(--app-red)'
            : 'color: var(--app-blue)'
        "
      />
      <button
        type="button"
        class="inputButton"
        (click)="showRepeatedPasswordToggle()"
        mat-icon-button
        matSuffix
      >
        <i
          class="material-icons"
          [style]="
            isRepeatedPasswordFieldInvalid()
              ? 'color: var(--app-red)'
              : 'color: var(--app-blue)'
          "
        >
          {{ showRepeatedPassword ? "visibility_off" : "visibility" }}
        </i>
      </button>
      <mat-error>{{
        displayRepeatedPasswordErrorMessage("required")
      }}</mat-error>
      @if (
        isRepeatedPasswordFieldInvalid() &&
        resetUserPasswordForm.hasError("notIdenticalPasswords")
      ) {
        <mat-hint class="errorHint">{{
          displayRepeatedPasswordErrorMessage("notIdenticalPasswords")
        }}</mat-hint>
      }
    </mat-form-field>
  }

  <div class="formButtons">
    <button
      type="submit"
      class="blueButton"
      mat-fab
      extended
      [disabled]="resetUserPasswordForm.invalid"
    >
      <i class="material-icons">replay</i>
      {{ submitButtonLabel }}
    </button>
    <button
      [type]="resetButtonType"
      class="resetFormButton"
      mat-fab
      extended
      (click)="ngOnInit()"
    >
      <i class="material-icons">{{ resetButtonIcon }}</i>
      {{ resetButtonLabel }}
    </button>
  </div>
</form>
